body
{
	font-family:Calibri, sans-serif;	
	margin:0px;
	background-color:rgb(48,64,48);
	color:white;
}

header
{
	background-color:rgb(32,40,32);
	height:150px;
	width:100%;
	border-bottom:1px solid black;
}
footer
{
	background-color:rgb(32,40,32);
	border-top:1px solid black;
	position:absolute;
	bottom:0;
	height:300px;
	width:100%;
	z-index:0;
}

div#content-div
{
	width:1000px;
	margin:auto;
}

div#sketch-head
{
	position:relative;
	width:960px;
	height:210px;
	top:-100px;
}

.element-bg
{
	background-color:rgb(64,80,64);
	padding:20px;
}
.element-stroke
{
	border:1px solid rgb(116,100,68);
}

canvas:focus
{
	outline:none;
}