body
{
	font-family:Calibri, sans-serif;	
	margin:0px;
	background-color:rgb(48,64,48);
	color:rgb(48,64,48);
}

header
{
	background-color:rgb(32,40,32);
	position:relative;
	height:150px;
	width:100%;
	border-bottom:1px solid black;
}
footer
{
	background-color:rgb(32,40,32);
	border-top:1px solid black;
	position:absolute;
	bottom:0;
	height:300px;
	width:100%;
	z-index:0;
}

h1, h2
{
	margin:0px;
	font-weight:bold;
}
h1#sketch-title
{
	color:rgb(140,103,64);
}

h2#signature
{
	position:absolute;
	bottom:5px;
	right:10px;
	color:rgb(36,45,36);
}

div#content-div
{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

div#sketch-col
{
	position:relative;
	width:640px;
	top:-120px;
	left:100px;
	z-index:1;
	padding:20px 20px 80px 20px;

}
div#gui-col
{
	position:relative;
	left:800px;
	top:-863px;
	z-index:1;
}
div#gui-bg
{
	padding:20px;
	width:245px;
}

div#desc-bg
{
	position:relative;
	top:20px;
	left:0px;
	
	padding:10px 20px;
	width:245px;
	z-index:1;
}
p#desc-main
{
	background-color:rgb(32,40,32);	
	padding:30px 20px;
	font-weight:bold;
}

span#credits
{
	color:rgb(48,64,48);
	font-weight:bold;
	font-family:Calibri, sans-serif;
	position:relative;
	left:-155px;
	bottom:70px;
}
.element-bg
{
	background-color:rgb(64,80,64);
}

.element-stroke
{
	border:1px solid rgb(0,0,0);
}

canvas:focus
{
	outline:none;
}

a:link
{
	color:rgb(140,103,64);
	text-decoration:none;
}
a:visited
{
	color:rgb(64,64,64);
}
a:hover
{
	color:green;
}
a:focus
{
}
a:active
{
}