body
{
	margin:0px;
	background-color:rgb(48,64,48);
}

header
{
	background-color:rgb(32,40,32);
	position:relative;
	height:200px;
	width:100%;
}
footer
{
	background-color:rgb(32,40,32);	
	position:absolute;
	bottom:0;
	height:200px;
	width:100%;
}

h1
{
	margin:0px;
	font-weight:bold;
	color:rgb(48,64,48);	
	font-family:Calibri, sans-serif;	
}
h1#sketch-title
{
	position:absolute;
	left:10px;
	bottom:5px;
}
h1#signature
{
	position:absolute;
	top:5px;
	right:10px;
}

